<!DOCTYPE html>
<meta charset=utf-8>
<title>nein</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="alternate" type="application/atom+xml" href="/index.atom" title="feed">
<h1><a href="/">nein</a></h1>
<nav class="metanav">
{% if not session.logged_in %}
  <a href="{{ url_for('login') }}">log in</a>
{% else %}
  <a href="{{ url_for('logout') }}">log out</a>
{% endif %}
</nav>
{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %}
{% block body %}{% endblock %}