{% extends "layout.html" %}
{% block body %}
  {% include "add_form.html" %}
  <ul class="entries">
    <li><h2>{{ day }}</h2></li>
  </li>
  <ul class="day">
  {% for entry in entries %}
    <li id="{{ entry.time }}">
      {% if session.logged_in %}
        <span class="delete">
          <form method="POST" action="/{{day}}/delete/?id={{entry.id}}">
            <input type="submit" value="x" onClick="return confirm('Eintrag von {{entry.time}} loeschen?')" />
          </form>
        </span>
      {% endif %}
      <a href="#{{ entry.time }}"><time>{{entry.time}}</time></a> {{ entry.text|safe }}
    </li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}
